<div class="head_h"></div>
<div class="ny_ban" style="background-image:url(assets/images/fa240bbf2e0799c5925e7b4a61b77cd1.jpg);">
  <div class="bn_bt bn_dw wow fadeInLeft" data-wow-delay=".3s">Elephas Investment立足于世界前沿科学，着眼全球市场投资机会，将价值投资的理念和科学的量化投资体系相结合， 立志成为一流的资产管理公司，为社会创造长期价值。</div>
</div>
<div class="ny_pd">
  <div class="container"><a href="/">首页</a> > 关于我们</div>
</div>
<div class="gs_js">
  <div class="container">
    <div class="wz_nr wow fadeInLeft" data-wow-delay=".3s">
      <div class="t_s">Elephas Investment成立于2015年，是一家运用科学的系统化投资体系，在有效平衡风险与收益的前提下进行二级市场投资的资产管理公司。</div>
      <div class="w_z">Elephas Investment是价值投资的信奉者，我们长期致力寻找优秀的管理层和拥有广阔的成长空间的伟大的公司。同时，我们立足于世界前沿科学，通过运用数学、统计、金融、物理、计算机等专业学术理论，处理低信噪比的金融数据，自建模型形成多周期、多策略的量化与基本面双轮驱动的投资体系。<br><br></div>
    </div>
    <div class="sj_nr wow fadeInRight" data-wow-delay=".3s" style="background: url(assets/images/32768e70f98b8c58289348572c1a4599.jpg) no-repeat center / cover;">
      <ul>
        <li>
          <div class="s_j"><b id="myTargetElement0"></b>年</div>
          <div class="w_z">公司成立时间</div>
        </li>
        <li>
          <div class="s_j"><b id="myTargetElement1"></b>年+</div>
          <div class="w_z">策略团队投资经验</div>
        </li>
        <li>
          <div class="s_j"><b id="myTargetElement2"></b>+</div>
          <div class="w_z">合作机构</div>
        </li>
        <li>
          <div class="s_j"><b id="myTargetElement3"></b>%</div>
          <div class="w_z">投研人员均毕业于清华、北大、哈佛、牛津、伦敦政经、哥大、芝大等顶级学府</div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="tx_lm">
  <div class="container">
    <div class="tx_bt">投研体系</div>
    <div class="swiper-container swiper-tx">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="n_r">
            <div class="t_w">
              <div class="t_b"><img src="assets/images/2664169423c4ffb525e21e8e86c77d38.svg"></div>
              <div class="w_z">分散投资</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="n_r">
            <div class="t_w">
              <div class="t_b"><img src="assets/images/9808e20de2c61fbaca01423f76411b43.svg"></div>
              <div class="w_z">胜率与赔率</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="n_r">
            <div class="t_w">
              <div class="t_b"><img src="assets/images/3f1ac9d57af2e6685d2f927af5b6eedf.svg"></div>
              <div class="w_z">主观逻辑</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="n_r">
            <div class="t_w">
              <div class="t_b"><img src="assets/images/7e347c9132adb28e53f7551122f6c445.svg"></div>
              <div class="w_z">量化选股</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="n_r">
            <div class="t_w">
              <div class="t_b"><img src="assets/images/8fa618f0fd2d70cd251770014e690dd5.svg"></div>
              <div class="w_z">因子组合</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="n_r">
            <div class="t_w">
              <div class="t_b"><img src="assets/images/0067f2233201b1e649df14ef8e4b4b3b.svg"></div>
              <div class="w_z">AI投研</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="n_r">
            <div class="t_w">
              <div class="t_b"><img src="assets/images/e483e09b1be668fc2fe4b506ed712c21.svg"></div>
              <div class="w_z">投行与专家</div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
<div class="tx_ys">
  <div class="container">
    <div class="ys_nr">
      <ul>
        <li class="wow fadeInUp" data-wow-delay=".3s">
          <div class="l_m">数据工程</div>
          <div class="n_r"><p>量价数据、基本面数据、其他数据，提取与清洗</p>
<p>数据特征选择：采用不同频率数据</p></div>
        </li>
        <li class="wow fadeInUp" data-wow-delay=".4s">
          <div class="l_m">模型构建</div>
          <div class="n_r"><p>逻辑支撑模型建设</p>
<p>模型训练、验证、测试</p>
<p>实现多周期信号叠加</p></div>
        </li>
        <li class="wow fadeInUp" data-wow-delay=".5s">
          <div class="l_m">组合构建</div>
          <div class="n_r"><p>风险敞口控制</p>
<p>主观与量化策略分仓组合再优化</p></div>
        </li>
        <li class="wow fadeInUp" data-wow-delay=".6s">
          <div class="l_m">交易执行</div>
          <div class="n_r"><p>极速行情</p>
<p>择时优化</p>
<p>算法交易</p></div>
        </li>
      </ul>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $(".ys_nr ul li").mouseenter(function(){
      $(this).addClass("on");
      $(this).find(".n_r").stop().slideDown();
      $(this).siblings().find(".l_m").removeClass("on");
      $(this).siblings().find(".n_r").stop().slideUp();
    });
    $(".ys_nr ul li").mouseleave(function(){
      $(this).removeClass("on");
      $(this).find(".n_r").stop().slideUp();
    });
  });
</script>
<div class="ty_tx">
  <div class="container">
    <div class="tx_js wow fadeInUp" data-wow-delay=".3s">
      <ul>
        <li>
          <div class="b_t">CTA</div>
          <div class="j_t">+</div>
          <div class="n_r">将机器学习与数学、物理、统计、金融的前沿学术理论相结合，使之能够处理信噪比极低的金融数据，再通过复杂的数据工程，深度挖掘因群体的非理性交易而产生的交易信号；从而形成持续有效的多周期多品种策略。</div>
        </li>
        <li>
          <div class="b_t">灵活<br>对冲</div>
          <div class="j_t">+</div>
          <div class="n_r">股票多头由很主观价值投资与量化选股共同构成，空头为量化股指期货策略，自建风险模型及组合优化算法，通过负相关的策略组合追求更好夏普比。</div>
        </li>
        <li>
          <div class="b_t">指数<br>增强</div>
          <div class="j_t">+</div>
          <div class="n_r">跟踪指数的同时，对股票多头进行主动管理，包含对行业、风格、仓位、个股等权重进行调整，以实现对指数的超越。</div>
        </li>
      </ul>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    var win = $(window).width();
    if(win<640){
      $(".tx_js li").click(function(){
        $(this).find(".n_r").slideToggle();
        $(this).siblings().find(".n_r").slideUp();
      });
    };
  });
</script>
<div class="jr_wm" style="background: url(assets/images/4bc606af85d90c8067186badb98e615a.jpg) no-repeat center / cover fixed;">
  <div class="container">
    <div class="wm_nr">
      <h3 class="wow fadeInDown" data-wow-delay=".3s">CREATIVITY EXPLORATION CURIOSITY DILIGENCE BRAVERY</h3>
      <a href="join.html" class="wow fadeInUp" data-wow-delay=".5s">加入我们<i></i></a>
    </div>
  </div>
</div>
<script src="js/countUp.min.js" type="text/javascript"></script>
<script type="text/javascript">
  var options = {
    useEasing : true,
    useGrouping : true,
    separator : '',
    decimal : '',
    prefix : '',
    suffix : ''
  };
  var wh = $(window).height();
  var demo0 = new CountUp("myTargetElement0", 1990, 2015, 0, 5, options);
  var demo1 = new CountUp("myTargetElement1", 0, 10, 0, 5, options);
  var demo2 = new CountUp("myTargetElement2", 0, 50, 0, 5, options);
  var demo3 = new CountUp("myTargetElement3", 0, 90, 0, 5, options);
  $(window).scroll(function(){
    if($(window).scrollTop()>=$(".sj_nr").offset().top - wh){
        demo0.start();
        demo1.start();
        demo2.start();
        demo3.start();
    }
  })
</script>
<script src="js/swiper.min.js" type="text/javascript"></script>
<script>
  var galleryThumbs = new Swiper('.swiper-tx', {
    pagination: {
      el:'.swiper-pagination',
      clickable:true,
    },
    autoplay:{
      delay:6000,
      stopOnLastSlide:false,
      disableOnInteraction:false,
    },
    slidesPerView:4,
    slidesPerGroup:4,
    spaceBetween:0,
    speed:3000,
    loop:true,
    breakpoints:{
      1024: {
        slidesPerView:3,
        slidesPerGroup:3,
        speed:2000,
      },
      640: {
        slidesPerView:2,
        slidesPerGroup:2,
        speed:1500,
      },
    },
  });
  galleryThumbs.el.onmouseover = function(){
    galleryThumbs.autoplay.stop();
  }
  galleryThumbs.el.onmouseout = function(){
    galleryThumbs.autoplay.start();
  }
</script>