<div class="head_h"></div>
<div class="ny_ban" style="background-image:url(assets/images/fa240bbf2e0799c5925e7b4a61b77cd1.jpg);">
  <div class="bn_bt bn_dw wow fadeInLeft" data-wow-delay=".3s">{{i18n.about.company_mission}}</div>
</div>
<div class="ny_pd">
  <div class="container"><a href="/">{{i18n.global.breadcrumb_home}}</a>{{i18n.global.breadcrumb_separator}}{{i18n.about.breadcrumb_about}}</div>
</div>

<div class="macro_thesis">
  <div class="container">
    <div class="tx_bt wow fadeInUp" data-wow-delay=".2s">{{i18n.about.macro_title}}</div>
    <p class="macro_subtitle wow fadeInUp" data-wow-delay=".3s">{{i18n.about.macro_subtitle}}</p>
    <div class="macro_grid">
      <div class="macro_card wow fadeInUp" data-wow-delay=".3s">
        <div class="macro_num">01</div>
        <h4>{{i18n.about.macro_erp_title}}</h4>
        <p>{{i18n.about.macro_erp_desc}}</p>
      </div>
      <div class="macro_card wow fadeInUp" data-wow-delay=".4s">
        <div class="macro_num">02</div>
        <h4>{{i18n.about.macro_housing_title}}</h4>
        <p>{{i18n.about.macro_housing_desc}}</p>
      </div>
      <div class="macro_card wow fadeInUp" data-wow-delay=".5s">
        <div class="macro_num">03</div>
        <h4>{{i18n.about.macro_policy_title}}</h4>
        <p>{{i18n.about.macro_policy_desc}}</p>
      </div>
      <div class="macro_card wow fadeInUp" data-wow-delay=".6s">
        <div class="macro_num">04</div>
        <h4>{{i18n.about.macro_allocation_title}}</h4>
        <p>{{i18n.about.macro_allocation_desc}}</p>
      </div>
      <div class="macro_card wow fadeInUp" data-wow-delay=".7s">
        <div class="macro_num">05</div>
        <h4>{{i18n.about.macro_yield_title}}</h4>
        <p>{{i18n.about.macro_yield_desc}}</p>
      </div>
    </div>
  </div>
</div>

<div class="tx_lm">
  <div class="container">
    <div class="tx_bt">{{i18n.about.research_system}}</div>
    <div class="swiper-container swiper-tx">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="n_r">
            <div class="t_w">
              <div class="t_b"><img src="assets/images/2664169423c4ffb525e21e8e86c77d38.svg"></div>
              <div class="w_z">{{i18n.about.research_diversification}}</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="n_r">
            <div class="t_w">
              <div class="t_b"><img src="assets/images/9808e20de2c61fbaca01423f76411b43.svg"></div>
              <div class="w_z">{{i18n.about.research_probability}}</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="n_r">
            <div class="t_w">
              <div class="t_b"><img src="assets/images/3f1ac9d57af2e6685d2f927af5b6eedf.svg"></div>
              <div class="w_z">{{i18n.about.research_subjective}}</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="n_r">
            <div class="t_w">
              <div class="t_b"><img src="assets/images/7e347c9132adb28e53f7551122f6c445.svg"></div>
              <div class="w_z">{{i18n.about.research_quantitative}}</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="n_r">
            <div class="t_w">
              <div class="t_b"><img src="assets/images/8fa618f0fd2d70cd251770014e690dd5.svg"></div>
              <div class="w_z">{{i18n.about.research_factor}}</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="n_r">
            <div class="t_w">
              <div class="t_b"><img src="assets/images/0067f2233201b1e649df14ef8e4b4b3b.svg"></div>
              <div class="w_z">{{i18n.about.research_ai}}</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="n_r">
            <div class="t_w">
              <div class="t_b"><img src="assets/images/e483e09b1be668fc2fe4b506ed712c21.svg"></div>
              <div class="w_z">{{i18n.about.research_banking}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
<div class="invest_process">
  <div class="container">
    <div class="tx_bt wow fadeInUp" data-wow-delay=".2s">{{i18n.about.process_title}}</div>
    <p class="process_formula wow fadeInUp" data-wow-delay=".3s">{{i18n.about.process_subtitle_prefix}}<span class="formula-katex" data-formula="IR = IC \times \sqrt{BR}"></span>{{i18n.about.process_subtitle_suffix}}</p>

    <div class="process_unified wow fadeInUp" data-wow-delay=".4s">
      <div class="unified_side">
        <h3>{{i18n.about.process_fundamental_title}}</h3>
        <span class="track_tag">{{i18n.about.process_fundamental_tag}}</span>
        <ul>
          <li>{{i18n.about.process_fundamental_1}}</li>
          <li>{{i18n.about.process_fundamental_2}}</li>
          <li>{{i18n.about.process_fundamental_3}}</li>
          <li>{{i18n.about.process_fundamental_4}}</li>
        </ul>
      </div>
      <div class="unified_divider"></div>
      <div class="unified_side">
        <h3>{{i18n.about.process_quant_title}}</h3>
        <span class="track_tag">{{i18n.about.process_quant_tag}}</span>
        <ul>
          <li>{{i18n.about.process_quant_1}}</li>
          <li>{{i18n.about.process_quant_2}}</li>
          <li>{{i18n.about.process_quant_3}}</li>
          <li>{{i18n.about.process_quant_4}}</li>
        </ul>
      </div>
    </div>

    <div class="process_converge wow fadeInUp" data-wow-delay=".5s">
      <div class="converge_arrows">
        <span class="arrow_line"></span>
        <span class="arrow_down">&#9660;</span>
        <span class="arrow_line"></span>
      </div>
      <div class="converge_box">
        <h3>{{i18n.about.process_merge_title}}</h3>
        <div class="converge_items">
          <div class="converge_item">
            <strong>{{i18n.about.process_merge_cross_title}}</strong>
            <p>{{i18n.about.process_merge_cross_desc}}</p>
          </div>
          <div class="converge_item">
            <strong>{{i18n.about.process_merge_risk_title}}</strong>
            <p>{{i18n.about.process_merge_risk_desc}}</p>
          </div>
          <div class="converge_item">
            <strong>{{i18n.about.process_merge_exec_title}}</strong>
            <p>{{i18n.about.process_merge_exec_desc}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="quarterly-viewpoints">
  <div class="container">
    <div class="viewpoints-header wow fadeInUp" data-wow-delay=".3s">
      <h2>{{i18n.about.quarterly_viewpoints_title}}</h2>
      <p class="subtitle">{{i18n.about.quarterly_viewpoints_subtitle}}</p>
    </div>

    <div class="viewpoints-container">
      <div class="viewpoint-item wow fadeInUp" data-wow-delay=".4s">
        <div class="quarter-label vp-toggle">{{i18n.about.quarterly_label_q3_2024}}<span class="vp-icon">+</span></div>
        <div class="viewpoint-content">
          <p>{{i18n.about.quarterly_viewpoints_q3_2024}}</p>
        </div>
        <div class="viewpoint-detail">{{i18n.about.quarterly_detail_q3_2024}}</div>
      </div>

      <div class="viewpoint-item wow fadeInUp" data-wow-delay=".5s">
        <div class="quarter-label vp-toggle">{{i18n.about.quarterly_label_q4_2024}}<span class="vp-icon">+</span></div>
        <div class="viewpoint-content">
          <p>{{i18n.about.quarterly_viewpoints_q4_2024}}</p>
        </div>
        <div class="viewpoint-detail">{{i18n.about.quarterly_detail_q4_2024}}</div>
      </div>

      <div class="viewpoint-item wow fadeInUp" data-wow-delay=".6s">
        <div class="quarter-label vp-toggle">{{i18n.about.quarterly_label_q1_2025}}<span class="vp-icon">+</span></div>
        <div class="viewpoint-content">
          <p>{{i18n.about.quarterly_viewpoints_q1_2025}}</p>
        </div>
        <div class="viewpoint-detail">{{i18n.about.quarterly_detail_q1_2025}}</div>
      </div>

      <div class="viewpoint-item wow fadeInUp" data-wow-delay=".7s">
        <div class="quarter-label vp-toggle">{{i18n.about.quarterly_label_q2_2025}}<span class="vp-icon">+</span></div>
        <div class="viewpoint-content">
          <p>{{i18n.about.quarterly_viewpoints_q2_2025}}</p>
        </div>
        <div class="viewpoint-detail">{{i18n.about.quarterly_detail_q2_2025}}</div>
      </div>

      <div class="viewpoint-item wow fadeInUp" data-wow-delay=".8s">
        <div class="quarter-label vp-toggle">{{i18n.about.quarterly_label_q3_2025}}<span class="vp-icon">+</span></div>
        <div class="viewpoint-content">
          <p>{{i18n.about.quarterly_viewpoints_q3_2025}}</p>
        </div>
        <div class="viewpoint-detail">{{i18n.about.quarterly_detail_q3_2025}}</div>
      </div>

      <div class="viewpoint-item wow fadeInUp" data-wow-delay=".9s">
        <div class="quarter-label vp-toggle">{{i18n.about.quarterly_label_q4_2025}}<span class="vp-icon">+</span></div>
        <div class="viewpoint-content">
          <p>{{i18n.about.quarterly_viewpoints_q4_2025}}</p>
        </div>
        <div class="viewpoint-detail">{{i18n.about.quarterly_detail_q4_2025}}</div>
      </div>
    </div>

    <div class="viewpoints-note wow fadeInUp" data-wow-delay="1s">
      <p>{{i18n.about.quarterly_viewpoints_note}}</p>
    </div>
  </div>
</div>

<div class="jr_wm" style="background: url(assets/images/4bc606af85d90c8067186badb98e615a.jpg) no-repeat center / cover fixed;">
  <div class="container">
    <div class="wm_nr">
      <h3 class="wow fadeInDown" data-wow-delay=".3s">{{i18n.about.brand_slogan}}</h3>
      <a href="join.html" class="wow fadeInUp" data-wow-delay=".5s">{{i18n.about.join_us}}<i></i></a>
    </div>
  </div>
</div>
<script src="js/swiper.min.js" type="text/javascript"></script>
<script>
  var galleryThumbs = new Swiper('.swiper-tx', {
    pagination: {
      el:'.swiper-pagination',
      clickable:true,
    },
    autoplay:{
      delay:6000,
      stopOnLastSlide:false,
      disableOnInteraction:false,
    },
    slidesPerView:4,
    slidesPerGroup:4,
    spaceBetween:0,
    speed:3000,
    loop:true,
    breakpoints:{
      1024: {
        slidesPerView:3,
        slidesPerGroup:3,
        speed:2000,
      },
      640: {
        slidesPerView:2,
        slidesPerGroup:2,
        speed:1500,
      },
    },
  });
  galleryThumbs.el.onmouseover = function(){
    galleryThumbs.autoplay.stop();
  }
  galleryThumbs.el.onmouseout = function(){
    galleryThumbs.autoplay.start();
  }
</script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.vp-toggle').click(function(){
      var detail = $(this).closest('.viewpoint-item').find('.viewpoint-detail');
      var icon = $(this).find('.vp-icon');
      if(detail.is(':visible')){
        detail.slideUp(300);
        icon.text('+');
      } else {
        detail.slideDown(300);
        icon.text('−');
      }
    });
  });
</script>