<div class="head_h"></div>
<div class="ny_ban" style="background-image:url(assets/images/fa240bbf2e0799c5925e7b4a61b77cd1.jpg);">
  <div class="bn_bt wow fadeInLeft" data-wow-delay=".3s"></div>
</div>
<div class="ny_pd">
  <div class="container"><a href="index.html">{{i18n.global.breadcrumb_home}}</a>{{i18n.global.breadcrumb_separator}}{{i18n.contact.breadcrumb_contact}}</div>
</div>
<div class="lx_wm">
  <div class="container">
    <div class="lx_fs">
      <ul class="wow fadeInUp" data-wow-delay=".3s">
                <li>
          <div class="l_m">
            <h1>{{i18n.contact.shanghai}}</h1>
            <em></em>
          </div>
          <div class="x_x"><p>{{i18n.contact.shanghai_address}}</p></div>
        </li>
                <li>
          <div class="l_m">
            <h1>{{i18n.contact.hongkong}}</h1>
            <em></em>
          </div>
          <div class="x_x"><p>{{i18n.contact.hongkong_address}}</p></div>
        </li>
              </ul>
    </div>
  </div>
</div>
<div id="app">
  <div class="lx_bd wow fadeInUp" data-wow-delay=".3s">
    <div class="container">
      <el-form-message :id="1"></el-form-message>
    </div>
  </div>
</div>
<script type="text/javascript">
  new Vue({
    el: '#app',
    data() {
      return {}
    }
  })
  $(window).scroll(function(){
    var top = $(window).scrollTop();
    var th = $(".header").height();
    if(top>th){
      $(".header").addClass("on");
    }else{
      $(".header").removeClass("on");
    }
  });
</script>