<style type="text/css">
  .texBox{
    background-image: -webkit-linear-gradient(left, rgba(0,0,0), #FFFFFF 5%, rgba(0,0,0) 10%, #FFFFFF 10%, rgba(0,0,0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-background-size: 200% 100%;
    -webkit-animation: myfadeIn 8s;
  }
  @-webkit-keyframes myfadeIn {
    0% { opacity: 0;}
    100% { opacity: 0.5;}
  }
</style>
<div class="z_banner">
  <ul class="swiper-wrapper bd">
    <li class="swiper-slide">
      <div class="picBox">
        <div class="pic imgbg" data-swiper-parallax-scale="1.1" style="background-image:url(assets/images/d5c87ffb3a8c5331c31f80125f1d225e.jpg);"></div>
      </div>
      <div class="texBox">{{i18n.index.banner_text}}</div>
    </li>
  </ul>
</div>
<div class="gs_js">
  <div class="container">
    <div class="wz_nr wow fadeInLeft" data-wow-delay=".3s">
      <div class="t_s">{{i18n.about.company_description}}</div>
      <div class="w_z">{{i18n.about.company_philosophy}}<br><br></div>
    </div>
    <div class="sj_nr wow fadeInRight" data-wow-delay=".3s" style="background: url(assets/images/32768e70f98b8c58289348572c1a4599.jpg) no-repeat center / cover;">
      <ul>
        <li>
          <div class="s_j"><b id="myTargetElement0"></b>{{i18n.about.stats_year_unit}}</div>
          <div class="w_z">{{i18n.about.stats_company_years}}</div>
        </li>
        <li>
          <div class="s_j"><b id="myTargetElement1"></b>{{i18n.about.stats_year_plus_unit}}</div>
          <div class="w_z">{{i18n.about.stats_experience}}</div>
        </li>
        <li>
          <div class="s_j"><b id="myTargetElement2"></b>+</div>
          <div class="w_z">{{i18n.about.stats_partners}}</div>
        </li>
        <li>
          <div class="s_j"><b id="myTargetElement3"></b>%</div>
          <div class="w_z">{{i18n.about.stats_graduates}}</div>
        </li>
      </ul>
    </div>
  </div>
</div>
<script src="js/countUp.min.js" type="text/javascript"></script>
<script type="text/javascript">
  var options = {
    useEasing : true,
    useGrouping : true,
    separator : '',
    decimal : '',
    prefix : '',
    suffix : ''
  };
  var wh = $(window).height();
  var demo0 = new CountUp("myTargetElement0", 1990, 2015, 0, 5, options);
  var demo1 = new CountUp("myTargetElement1", 0, 10, 0, 5, options);
  var demo2 = new CountUp("myTargetElement2", 0, 50, 0, 5, options);
  var demo3 = new CountUp("myTargetElement3", 0, 90, 0, 5, options);
  $(window).scroll(function(){
    if($(window).scrollTop()>=$(".sj_nr").offset().top - wh){
        demo0.start();
        demo1.start();
        demo2.start();
        demo3.start();
    }
  })
</script>
