<style type="text/css">
  .texBox{
    background-image: -webkit-linear-gradient(left, rgba(0,0,0), #FFFFFF 5%, rgba(0,0,0) 10%, #FFFFFF 10%, rgba(0,0,0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-background-size: 200% 100%;
    -webkit-animation: myfadeIn 8s;
  }
  @-webkit-keyframes myfadeIn {
    0% { opacity: 0;}
    100% { opacity: 0.5;}
  }
</style>
<div class="z_banner">
  <ul class="swiper-wrapper bd">
    <li class="swiper-slide">
      <div class="picBox">
        <div class="pic imgbg" data-swiper-parallax-scale="1.1" style="background-image:url(assets/images/d5c87ffb3a8c5331c31f80125f1d225e.jpg);"></div>
      </div>
      <div class="texBox">大音希声    大象无形</div>
    </li>
  </ul>
  <div class="z_copy">COPYRIGHT©2022 Elephas Investment</div>
</div>
<script type="text/javascript" src="js/swiper.min.js"></script>
<script type="text/javascript">
//   if ($(".z_banner").length > 0) {
//     $(".z_banner_num .all").text("0" + $(".z_banner .bd li").length)
//     var _w = $('body').width(),
//         _w_2 = _w / 1,
//         time = 4000,
//         transition_time = 1200,
//         time_with_trans = (time + transition_time) / 1000;
//     $('.z_banner .imgbg').attr('data-swiper-parallax-x', _w_2)
//     var myBanner = new Swiper('.z_banner', {
//         loop: true,
//         autoplay: true,
//         delay: 1800,
//         parallax: true,
//         effect: "slide",
//         speed: 1800,
//         navigation: {
//           nextEl: '.next',
//           prevEl: '.prev',
//         },
//       on: {
//         slideChangeTransitionStart: function() {
//           $(".z_banner_num .index").text("0" + (this.realIndex + 1))
//         }
//       }
//     });
//   }
</script>