<div class="head_h"></div>
<div class="ny_ban" style="background-image:url(assets/images/fa240bbf2e0799c5925e7b4a61b77cd1.jpg);">
  <div class="bn_bt wow fadeInLeft" data-wow-delay=".3s">{{i18n.join.banner_text}}</div>
</div>
<div class="ny_pd">
  <div class="container"><a href="index.html">{{i18n.global.breadcrumb_home}}</a>{{i18n.global.breadcrumb_separator}}{{i18n.join.breadcrumb_join}}</div>
</div>
<div class="jr_js">
  <div class="container">
    <div class="wz_nr wow fadeInLeft" data-wow-delay=".3s">
      <div class="b_t">{{i18n.join.intro_title}}</div>
      <div class="w_z">{{i18n.join.intro_description}}</div>
    </div>
    <div class="tp_zs wow fadeInRight" data-wow-delay=".3s"><img src="assets/images/2fc0a6e89302634c0ef2b9009383305c.jpg"></div>
  </div>
</div>
<div class="jr_zw">
  <div class="container">
    <div class="lm_zs wow fadeInUp" data-wow-delay=".3s">
      <div class="job-item">
        <div class="job-toggle">
          <div class="job-info">
            <h4>{{i18n.join.position_quantitative}}</h4>
            <h3>{{i18n.join.location_shanghai_fulltime}}</h3>
          </div>
          <span class="job-icon">+</span>
        </div>
        <div class="job-detail">
          <p><strong>{{i18n.join.responsibilities}}</strong></p>
          <p>- {{i18n.join.quant_responsibility_1}}</p>
          <p>- {{i18n.join.quant_responsibility_1b}}</p>
          <p>- {{i18n.join.quant_responsibility_2}}</p>
          <p>- {{i18n.join.quant_responsibility_3}}</p>
          <p>- {{i18n.join.quant_responsibility_4}}</p>
          <p>&nbsp;</p>
          <p><strong>{{i18n.join.qualifications}}</strong></p>
          <p>- {{i18n.join.quant_qualification_1}}</p>
          <p>- {{i18n.join.quant_qualification_2}}</p>
          <p>- {{i18n.join.quant_qualification_3}}</p>
          <p>- {{i18n.join.quant_qualification_4}}</p>
          <p>- {{i18n.join.quant_qualification_5}}</p>
        </div>
      </div>

      <div class="job-item">
        <div class="job-toggle">
          <div class="job-info">
            <h4>{{i18n.join.position_industry}}</h4>
            <h3>{{i18n.join.location_shanghai_fulltime_industry}}</h3>
          </div>
          <span class="job-icon">+</span>
        </div>
        <div class="job-detail">
          <p><strong>{{i18n.join.responsibilities}}</strong></p>
          <p>- {{i18n.join.industry_responsibility_1}}</p>
          <p>- {{i18n.join.industry_responsibility_2}}</p>
          <p>- {{i18n.join.industry_responsibility_3}}</p>
          <p>- {{i18n.join.industry_responsibility_4}}</p>
          <p>- {{i18n.join.industry_responsibility_5}}</p>
          <p>&nbsp;</p>
          <p><strong>{{i18n.join.qualifications}}</strong></p>
          <p>- {{i18n.join.industry_qualification_1}}</p>
          <p>- {{i18n.join.industry_qualification_2}}</p>
          <p>- {{i18n.join.industry_qualification_3}}</p>
          <p>- {{i18n.join.industry_qualification_4}}</p>
          <p>- {{i18n.join.industry_qualification_5}}</p>
          <p>- {{i18n.join.industry_qualification_6}}</p>
          <p>- {{i18n.join.industry_qualification_7}}</p>
          <p>- {{i18n.join.industry_qualification_8}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(window).scroll(function(){
    var top = $(window).scrollTop();
    var th = $(".header").height();
    if(top>th){
      $(".header").addClass("on");
    }else{
      $(".header").removeClass("on");
    }
  });
</script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.job-toggle').click(function(){
      var detail = $(this).closest('.job-item').find('.job-detail');
      var icon = $(this).find('.job-icon');
      if(detail.is(':visible')){
        detail.slideUp(300);
        icon.text('+');
      } else {
        detail.slideDown(300);
        icon.text('\u2212');
      }
    });
  });
</script>
