<div class="modal fade exampleModalCenterFirst show" id="exampleModalCenter" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalCenterTitle" style="padding-right: 17px; display: block;" aria-modal="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-body-top">
          <div class="modal-body-title">{{i18n.modal.title}}</div>
          <div class="modal-body-content"><div>{{i18n.modal.content_1}}</div>
<div>{{i18n.modal.content_2}}</div>
<div>{{i18n.modal.content_3}}</div>
<div>{{i18n.modal.content_4}}</div>
<div>{{i18n.modal.content_5}}</div>
<div>{{i18n.modal.content_6}}</div></div>
          <div class="line"></div>
        </div>
        <div class="modal-first-bottom">
          <div class="modal-first-bottom-giveup" onclick="setAuthentication()">
            {{i18n.modal.accept}}
          </div>
          <div class="modal-first-bottom-giveup">
            {{i18n.modal.decline}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>